:root {
    --taskaufbau: 1fr repeat(2, 100px);
    --actioncolumns: repeat(4, 1fr);
}

@media (min-width: 100px) {
    :root {
        --actioncolumns: repeat(1, 1fr);
    }
}
@media (min-width: 300px) {
    :root {
        --actioncolumns: repeat(2, 1fr);
    }
}
@media (min-width: 550px) {
    :root {
        --actioncolumns: repeat(4, 1fr);
    }
}

div.projekt {
    display: flex;
    align-items: center;
    align-items: baseline;
    justify-content: space-around;
}
div.projekt-name {
    font-weight: bold;
    font-size: 200%;
}
div.taskaufbau {
    display: grid;
    grid-template-columns: var(--taskaufbau);
    grid-gap: 10px;
    background-color: #fff;
    color: black;
}
div.taskaufbau  span {
    font-weight: bold;
}
input.update {
    font-weight: bold;
    font-size: 70%;
}

.task {
    display: grid;
    grid-template-columns: var(--taskaufbau);
    grid-gap: 10px;
    background-color: #fff;
    color: black;
}

span.task-status {
    float: right;
}
span.task-prio {
    float: right;
}

/* Status: 1 - offen */
div[data-task-status='1'] {
    background-color: orange;
    border-left-style: solid;
    border-color: orange;
}


/* Prio: 1 - sehr hoch */
div[data-task-prio='1'] {
    background-color: red;
    border-left-style: solid;
    border-color: red;
}

/* Prio: 2 - hoch */
div[data-task-prio='2'] {
    background-color: orange;
        border-left-style: solid;
    border-color: orange;
}



/* Prio: 3 - normal */
div[data-task-prio='3'] {
    background-color: yellow;
        border-left-style: solid;
    border-color: yellow;
}

/* Prio: 4 - niedrig */
div[data-task-prio='4'] {
    background-color: #fff;
        border-left-style: solid;
    border-color: #fff;
}

/* Status: 4 - fertig */
div[data-task-status='3'] {
    border-style: dotted;
    border-right-style: none;
    border-left-style: solid;
    border-color: red;
}

/* Status: 4 - fertig */
div[data-task-status='4'] {
    background-color: lime;
        border-left-style: solid;
    border-color: lime;
}


/* Status: 4 - fertig */
div[data-task-status='2'] {
    border-right-style: none;
    border-left-style: solid;
    border-color: orange;
}


#tasklist {
    clear: right;

}
div.actions {
    float: right;
    display: grid;
    grid-template-columns: var(--actioncolumns);
    grid-gap: 5px;
    align-items: center;
    align-items: baseline;
    justify-content: space-around;
}
img.action {
    float: left;
    margin-right: 10px;
}



#notificationField {
    position:absolute;
    bottom: 0;
}

/**
 * Notification Boxes
 * http://www.cssportal.com/tryit/index.php?file=blog/notification
 */
.notification {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    padding: 10px 36px;
    margin: 10px;
}
.notification span {
    font-weight:bold;
    text-transform:uppercase;
}
.error {
    background:#ffecec url('img/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('img/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warn {
    background:#fff8c4 url('img/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.debug {
    background:#e3f7fc url('img/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}


/**
 * Alle Update-TextAreas
 */
TextArea[name^='update'][name$='task.name'] {
    width: 100%;
    height: 5em;
}